*{
    margin: 0;
    padding: 0;
}
header{
    padding: 20px;
    background-color: darkslategray;
    position: fixed;
    width: 97%;
}
nav{
  display: flex;
  justify-content: space-between; 
  color: beige;
  align-items:center;
  
}
ul{
    display: flex;
    justify-content:space-around;
    gap: 30px;
    a{
        color: aliceblue;
        text-decoration: none;
      }
}
li{
    list-style: none;
}
.flex{
    display: flex;
    text-align: center;
    justify-content: center;
    
    color: rgb(16, 26, 26);;
    img{
        width: 50%;
    }
    h2{
        text-align: center;
    }
}
#text1{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
h2{
   color: black;
   text-align: center;
} 

.dev{
   display: flex;
   
    flex-wrap: wrap;

  justify-content: space-evenly;
}
section{
    margin-bottom: 5%;
    text-align: center;
    h2{
        margin-bottom: 2%;
    }
}

.imgcomp{
    text-align: center;
    img{
        width: 100px;
    }
}

#Parcours{
    border: 1px solid black;
}


.parent{
    background-color: darkslategray;
    display: flex;
    margin: auto;
    justify-content: space-around;
    color: black;

} 
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    img{
        width: 40%;
    }
}
#formulaire{
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#formmessage{
   margin: auto;
   justify-content: center;
   align-items: center;
   
} 
#skill{
color: white;
}
footer{
    background-color: black;
    color: white;
}
.form{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    gap: 40px;
   
    
}
.projets{
    display: flex;
    justify-content: space-around;
}
#contact{
    background-color: darkslategray;
    button{
        background-color: blue;
        color: white;
        padding: 10px;
        border-radius: 5px;
    }
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.tech{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
}

#hero{
    background-color: rgb(95, 156, 156);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        width: 100px;
    }
}
@media screen {
    
}
#Apropos{
    display: flex;
}

